/* ./src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html,
body,
#root {
  width:100vw;
  height:100vh;
  margin: 0;
  padding: 0;
}

body{
  background: black;
  background: linear-gradient(0deg, black 0%, purple 100%);
}

#root {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

canvas {
  touch-action: none;
}
