/* ./src/tailwind.css */
@tailwind base;

@layer base {
  h1 {
    @apply text-[54px] font-black leading-[50px];
  }
  h2 {
    @apply text-[24px] font-normal leading-[20px] text-[red] tracking-widest mt-2;
  }
}
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html,
body,
#root {
  width:100vw;
  height:100vh;
  margin: 0;
  padding: 0;
}

body{
  background-image: url("../src/components/images/warp.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #cccccc;
}


#root {
  height: 100vh;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Nanum Gothic', sans-serif;
  color: blue;



  font-weight: 300;
}

canvas {
  touch-action: none;
}
